{% extends 'base.html' %} {% load static %} {% block content%}

<main>
  <h1>Your shopping list</h1>

  <div>
    <form method="post" action="{% url 'shopping_item_delete_all' %}">
      {% csrf_token %}
      <button class="button">Delete All</button>
    </form>
  </div>

  <ul>
    {% for item in shoppingitem_list %}
    <li>{{ item.food_item }}</li>
    {% endfor %}
  </ul>
</main>

{% endblock content %}
