{% extends "base.html" %} {% load static %} {% load markdownify %} <br />
{% block content%}
<main class="tag-detail">
  <div>
    <a href="{% url 'tags_update' tag.pk %}">Edit</a>
    <a href="{% url 'tags_delete' tag.pk %}">Delete</a>
  <h2>Recipes for {{ tag.name }}</h2>

  {% for recipe in tag.recipes.all %}
  <div class="recipe-card">
    <ul class="recipe-card-title">
      <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </li>
    </ul>
{% endfor %}
  </div>
</main>

{% endblock content%}
