{% extends "base.html" %} {% load static %} {% load markdownify %} <br />
{% block content %}

<div>
  <a href="{% url 'meal_plan_edit' mealplan.pk %}">Edit</a>
  <a href="{% url 'meal_plan_delete' mealplan.pk %}">Delete</a>
</div>

<main class="tag-detail">
  <h2>Recipes for {{mealplan.name}} on {{mealplan.date}}</h2>
    {% for recipe in mealplan.recipes.all %} 
    <p>
      <a href="{% url 'recipe_detail' recipe.pk %}"><li>{{ recipe.name }}</a></li>
    </p>
  
    {% endfor %}
</main>

{% endblock content %}


