{% extends 'base.html' %} {% load static %} {% block content %}

<a href="{% url 'meal_plan_new' %}">create</a>

<main class="recipe-grid">   
  {% for mealplan in mealplan_list %}
    <div class="recipe-card">
      <h2 class="recipe-card-title">
        <a href="{% url 'meal_plan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
      </h2>
    <p>Served Date: {{ mealplan.date }}</p>
  {% for recipe in mealplan.recipes.all %}
    <p>
      <a href="{% url 'recipe_detail' recipe.pk %}"><li>{{ recipe.name }}</a></li>
    </p>
  {% endfor %}
    </div>

    {% empty %}
    <h2 class="recipe-card-title">There are no recipes yet.</h2>
</div>
  {% endfor %}
  
</main>

<footer>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
</footer>
{% endblock content %}
